/* Цвета фонов для категорий */
.bg-coffee-bg {
  background-color: #efccb9 !important;
}

.bg-tea-bg {
  background-color: #c9ea94 !important;
}

.bg-milkshake-bg {
  background-color: #f9ecd2 !important;
}

.bg-soft-drinks-bg {
  background-color: #ffe665 !important;
}

/* Цвета индикаторов для категорий */
.indicator.coffee {
  background-color: #efccb9 !important;
}

.indicator.tea {
  background-color: #c9ea94 !important;
}

.indicator.milkshake {
  background-color: #f9ecd2 !important;
}

.indicator.soft-drinks {
  background-color: #ffe665 !important;
}

/* Исправление для кнопки в header */
.bg-coffee {
  background-color: #efccb9 !important;
}
